<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{% load static %}
<img src="{% static 'img/7.jpg' %} " alt="" width="200px">
<h1>第一个项目</h1>
<h1>这是首页，凑合着看吧</h1>
{% if request.user.is_authenticated %}
    <h2>欢迎：{{ request.user.name }}
        <a href="/logout/">注销</a>
    </h2>
    <p><a href="/match/">开始比对</a></p>
    <p><a href="/query/">查询记录</a></p>
{% else %}
    <h2><a href="/login/">登录</a>
        <a href="/register/">注册</a></h2>
{% endif %}
</body>
</html>